<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)/(.+)/\?(.+)$ dispatcher.php?controller=$1&action=$2&%{QUERY_STRING} [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)/(.*)/([0-9]+)$ dispatcher.php?controller=$1&action=$2&id=$3 [QSA,L]	

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)/(.+)$ dispatcher.php?controller=$1&action=$2 [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ dispatcher.php?controller=Home&action=Index [QSA,L]
</IfModule>